<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h4>Register New User</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-input-container>
        <input type="email" matInput placeholder="email"
        [(ngModel)]="registerData.email"
        name="email">
      </mat-input-container>

      <mat-input-container>
        <input type="password" matInput placeholder="pasword"
        [(ngModel)]="registerData.pwd"
        name="pwd">
      </mat-input-container>
      <br>

      <mat-input-container>
        <input type="text" matInput placeholder="name"
        [(ngModel)]="registerData.name"
        name="name">
      </mat-input-container>
      <br>

      <mat-input-container class="w100">
        <textarea matInput placeholder="description"
        [(ngModel)]="registerData.description"
        name="description"></textarea>
      </mat-input-container>
      <br>

      <button mat-raised-button color="primary"
      (click)="post()">Register</button>
    </form>
  </mat-card-content>
</mat-card>